.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    margin-top: 10px;
}

.d-flex {
    padding: 10px;
}

.pagination {
    padding: 10px;
}

.navbar {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.section {
    margin-top: 55px;
}

a {
    color: #0d6efd;
    text-decoration: none;
}

a:hover {
    color: #999999;
    text-decoration: underline;
}

.badge {
    margin-right: 3px;
}

.content {
    white-space: pre-wrap;
    margin-block: 7px;
}

.btn {
    margin-block: 5px;

}


.card {
    background-color: ghostwhite;
}