<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>图书管理系统</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<div th:replace="common :: navbar"></div>
<div class="row">
    <div class="col-xl-3 mx-auto">
        <br>
        <h2>新建用户</h2>
        <hr>
        <form th:action="@{/user/create}" method="post">
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
                <label for="username">用户名</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">密码</label>
            </div>
            <div class="mb-3">
                <select class="form-select" id="roles" name="roles" th:value="${roles}"
                        aria-label="Default select example">
                    <option selected>用户组</option>
                    <option value="READER">读者</option>
                    <option value="ADMIN">书籍管理员</option>
                    <option value="BORADMIN">借阅管理员</option>
                </select>
            </div>


            <div class="alert alert-warning" role="alert" th:text="${error}" th:if="${error != null}">
            </div>
            <button type="submit" class="btn btn-primary" style="float: right">提交</button>
        </form>
    </div>
</div>

</body>
</html>