<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>图书管理系统</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<!--<div th:replace="common :: navbar"></div>-->
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-12 ">
            <div class="d-flex" th:each="book : ${bookList}" style="border-bottom: 1px solid #e2e2e2">

                <div class="flex-grow-1 ms-3">
                    <span class="text-desc">[[${book.bookname}]] ∙ [[${book.author}]] ∙ [[${book.borrowed}]]浏览</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>