<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>图书管理系统</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<div th:replace="common :: navbar"></div>
<div class="row">
    <div class="col-xl-3 mx-auto" style="">
        <br>
        <h2>图书信息修改</h2>
        <hr>
        <form th:action="@{'/publish/' + ${id}}" method="post">
            <input type="hidden" name="id" th:value="${id}">
            <div class="form-floating">
                <input type="text" class="form-control" id="bookname" name="bookname" placeholder="bookname">
                <label for="bookname">书名</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="author" name="author" placeholder="author">
                <label for="author">用户名</label>
            </div>


            <div class="alert alert-warning" role="alert" th:text="${error}" th:if="${error != null}">
            </div>
            <button type="submit" class="btn btn-primary" style="float: right">提交</button>
        </form>
    </div>
</div>
</body>
</html>