<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>图书管理系统</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<div th:replace="common :: navbar"></div>


<div class="container mt-3">
    <div class="row">
        <div class="col-xl-12 ">
            <a class="btn btn-primary" href="/user/create" methods="get" role="button">添加用户</a>

            <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 1rem">
                <div class="card mb-3"
                     style="max-width: 18rem; margin: auto; margin-left: .6em; height: 13rem;"
                     th:each="user : ${userList}">
                    <div class="card-header" th:text="${user.roles}"></div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a
                                    th:href="@{'/user/modify/'+${user.username}}"
                                    th:text="${user.username}"></a>
                        </h5>
                        <br>
                        <a class="btn btn-danger" th:href="@{'/delete/user/'+${user.username}}" role="button">删除</a>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>